.posts-list {
  width: 520px;
  /* background-color: rgb(228, 228, 228); */
  padding: 0;
  position: relative;
  margin-top: 20px;
}

.posts-tagline {
  font-size: 15px;
  text-align: left;
  line-height: 150%;
}

.posts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.loader {
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}